<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Resources -->
    <!-- Note: AmCharts software is free under a linkware license. Please do not remove or hide in any other way link to amcharts web site – www.amcharts.com.-->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Data Science for friends</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <style>
                    #chartdiv {
                        width: 100%;
                        height: 500px;
                    }
                </style>
                <script>
                    var chart_values = []
                    chart_values.push({"country": "Lithuania","litres": 501.9})
                    {% for race in groups %}
                    {% if race in friends %}
                    {% for gender in groups[race] %}
                    {% if gender in friends[race] %}
                    {% for type_of_friends in types_of_friendship %}
                    {% if type_of_friends in friends[race][gender] %}
                    
                    chart_values.push({"country": "Lithuania","litres": {{ friends[race][gender][type_of_friends] }}})
                    {% endif%}
                    {% endfor %}
                    {% endif%}
                    {% endfor %}
                    {% endif%}
                    {% endfor %}
                    alert(JSON.stringify(chart_values))
                    var chart = AmCharts.makeChart( "chartdiv", {
                                                   "type": "pie",
                                                   "theme": "light",
                                                   "dataProvider": chart_values,
                                                   "valueField": "litres",
                                                   "titleField": "country",
                                                   "balloon":{
                                                   "fixedPosition":true
                                                   },
                                                   "export": {
                                                   "enabled": true
                                                   }
                                                   } );
                    </script>
                 <!-- HTML -->
                <div id="chartdiv"></div>
                hello
            </div>
            <div class="col-sm-4">
                <form action="{{ url_for('show_chart') }}" method="post">

                <h3>Show friends of these groups: </h3>
                
                <br>
                
                <h4>By gender:</h4>
                
                <br>
                {% for gender in genders %}
                    <p>
                        <input type="checkbox" id="{{gender}}" name="genders" value="{{gender}}">
                        <label for="{{gender}}">{{gender}}</label>
                    </p>
                {% endfor %}
                
                <br>
                
                <h4>By race:</h4>
                <br>
                {% for race in races %}
                    <p>
                        <input type="checkbox" id="{{race}}" name="races" value="{{race}}">
                        <label for="{{race}}">{{race}}</label>
                    </p>
                {% endfor %}
                
                <br>
                
                
                <input type="submit" class="btn btn-default" >
                </form>
                
                
            </div>
        </div>
    </div>
</body>
</html>
